*.pyc
*~
*.rdb
*.out.js
*.log
**/bower_components/
**/dist/
celery*.pid
celerybeat-schedule

.dotcloud
.idea/
*.sublime*

latest-commit.txt
data_entry/settings/active.py
lib/*
~

locations/data/responses/
src/
personal/
providers/logos/
meetingpoint/images
*media*
*#
.#*
*.venv
.ipynb_checkpoints/
personal/
src/
locale/*
!locale/en_US
!locale/zh_CN

# liclipse, pydev
.project
.pydevproject
.settings

# docker test output
.coverage

.vscode
__pycache__

htmlcov/
.env
